<configuration>
    <appSettings>
        <add key="myCustomConnString" value="Server=localhost,1433\Catalog=NordicBio;Database=NordicBio;User=SA;Password=Q23wa!!!32;"/>
        <add key="ConnString" value="Server=(localdb)\mssqllocaldb; Database=NordicBio; Trusted_connection=true"/>
        <add key="TMDBApi" value="e1875a74a5c3708b92a2472f875f422d"/>
    </appSettings>
</configuration>